<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ff14 timeworn assist tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script type="text/javascript">
        var version = "1509719831845";
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h4>ff14古ぼけた地図アシストツール</h4>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div id="member-add-area">
                <div class="form-group">
                  <button id="user-add" class="btn btn-info" v-on:click="showAddMemberForm">メンバーの追加</button>
                </div>
                <div id="member-info" v-if="nameTextShowable">
                  <div id="member-form-area">
                    <div class="form-group">
                      <label for="form-member-name">メンバーの名前</label>
                      <input type="text" name="member_name" id="form-member-name" class="form-control" v-model="memberName" v-on:keyup="inputMemberName">
                    </div>
                    <div class="form-group">
                      <div v-if="areaSelectShowable">
                        <label for="form-member-area">地図の地域</label>
                        <select name="member_area" id="form-member-area" class="form-control" v-on:change="showAreaMap" v-model="selectedArea">
                          <option>選択してください</option>
                          <option v-for="area in areas" v-bind:value="area.key">{{area.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div id="map-image" v-if="areaImageShowable">
                    <label>地図の位置</label>
                    <img v-bind:src="'./img/' + imageName + '.png'" usemap="treasurePoint" v-if="selectedArea">
                    <map name="treasurePoint">
                        <area-list v-for="(point, index) in points" v-bind:location="selectedArea" v-bind:point="point" v-bind:index="index">
                    </map>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8" style="background-color: #fcf">
          <div id="sort-area">
          </div>
          <div id="oparation-area">
          </div>
          <div id="member-area">
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="./js/application.js?v=1509720258151"></script>
  </body>
</html>
